/* .carousel-indicators [data-bs-target] {
     border-radius: 50%;
     box-sizing: content-box;
     flex: 0 1 auto;
     width: 15px;
     height: 15px;
     padding: 0;
     margin-right: 3px;
     margin-left: 3px;
     text-indent: -999px;
     cursor: pointer;
     background-color: #ff7979;
     background-clip: padding-box;
     border: 0;
     border-top: 10px solid transparent;
     border-bottom: 10px solid transparent;
     opacity: .5;
     transition: opacity .6s ease;
 }
 .carousel-indicators .active {
     background-color: #ff0000;
 } */
:root{
     --box_banner:#EDEBEB;
     --text-banner:#545454;
}
 .box_banner{
     width: 100%;
     height: 129.12px;
     border-radius: 5px;
     background-color: var(--box_banner)
 }






 
@media (min-width: 1900px) {
    .bg_btn_seach {
         left: 1454px;
     }
     .bg_btn_seach:hover{
         background: #33A1A8;
         color: #FFFFFF;
         font-weight: 400;
     }
     .form_seach{
         border: 1px solid #ffffff;
         margin-top: 6%;
         width: 60%;
         padding-left: 9%;
         margin-left: 17%;
     }
     .icon_banner{
        margin-top: 10%;
     }
     .box_banner_row{
        width: 100%;
        height:56px;
        border-radius: 5px;
        background-color: var(--box_banner)
     }
     .text-banner{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: var(--text-banner);
        text-align: center;
        padding-top: 3%;
     }
     
}
