



:root{
     --text_new:#33A1AB;
     --line_new:#FDC502;
     --text_new_more:#33A1AB;
     --tag_link:#3F3F3F;
     --h_new:#232323;
     --h_event:#545454;
}



@media (min-width: 1900px) {
    .text_new{
          font-weight: 600;
          font-size: 32px;
          line-height: 48px;
          color: var(--text_new);
    }
    .text_event{
          font-weight: 600;
          font-size: 32px;
          line-height: 48px;
          color: var(--text_new);
    }
    .text_event_more{
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--text_new_more);
          margin-top: 16%;
     }
    .line_new{
          width: 27px;     
          border: 3px solid var(--line_new);
          transform: rotate(90deg);
          margin-top: 70%;
    }
    .text_new_more{
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--text_new_more);
          margin-top: 22%;
    }
    .tab_new {
     width: 150px;
     margin-right: 2%;
     height: auto;  
     }
     .tab_new .active{
          border-bottom: 5px solid var(--line_new);
     }
     .link_tab{
          text-decoration: none;
          color: var(--tag_link);
          height: 32.97px;
     }
     .link_tab:hover{
          text-decoration: none;
          color: var(--tag_link);
          height: 32.97px;
     }
     .h_new{
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          color: var(--h_new);
     }
     .p_new{
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: rgba(35, 35, 35, 0.5);
     }
     .p_new_institution{
          margin-top: 3%;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: rgba(35, 35, 35, 0.5);
     }
     .p_new_month{
          margin-top: 3%;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: rgba(35, 35, 35, 0.5);
     }
     .p_new_view{
          margin-top: 11%;
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: rgba(35, 35, 35, 0.5);
     }
     .box_icon_eye{
          margin-left: 10%;
     }
     .cover_new{
          border-radius: 15px 0px 0px 15px;
     }
     .h_event{
          font-weight: 500;
          font-size: 20px;
          line-height: 30px; 
          color: var(--h_event);
          margin: 0px;
     }
     .p_event{
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: var(--h_event);
     }
}
